:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --orange: #ff8c00;
  --shadow: 1px 1px 3px rgba(255, 150, 0, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
.main-nav ul {
  display: grid;
  padding: 0;
  grid-gap: 5px;
  list-style: none;
  align-items: center;
  grid-template-columns: 1.5fr 0.8fr 0.8fr 0.8fr 0.8fr 1.4fr;
  background: var(--dark);
  min-height: 70px;
}
.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.2s ease-out;
  /* 
  border: 2px solid green; */
}
.main-nav a:hover {
  color: var(--orange);
  font-size: 1.2rem;
}
.main-nav img {
  width: 200px;
  margin: 0;
  padding: 0;
}
.icons {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  margin: 0 50px;
  /* 
  border: 2px solid green; */
}
.fa {
  transition: all 0.1s ease-out;
}
.fa-facebook {
  color: #1877f2;
}
.fa-facebook:hover {
  font-size: 25px;
}
.fa-youtube {
  color: #ff0000;
}
.fa-youtube:hover {
  font-size: 25px;
}
.fa-instagram {
  color: #517fa4;
}
.fa-instagram:hover {
  font-size: 25px;
}
.top-container {
  margin: 0 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "showcase";
}
.showcase {
  grid-area: showcase;
  min-height: 530px;
  background: url(../images/main.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  opacity: 0.9;
}
/* #title {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
  opacity: 1;
  z-index: 5;
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
  opacity: 1;
} */
.info {
  margin: 0 10px;
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  align-items: center;
  justify-items: center;
}
.info-img {
  background: url(../images/robo.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  height: auto;
  width: 100%;
  max-width: 620px;
}
.info h1 {
  grid-area: h1;
  font-size: xx-large;
  text-align: center;
  line-height: 60px;
}
.info p {
  grid-area: p1;
  font-size: large;
  line-height: x-large;
  text-align: justify;
}
.boxes {
  display: grid;
  grid-template-areas:
    "design design design"
    "top-box-a top-box-b top-box-c"
    "empty-one top-box-d empty-two";
  grid-gap: 15px;
  margin: 20px 60px;
}
.top-box {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: x-large;
  line-height: xx-large;
  text-align: center;
  color: var(--dark);
}
.design {
  grid-area: design;
  background: none;
  box-shadow: none;
}
.design p {
  font-size: xx-large;
  color: var(--dark);
}
.top-box-a {
  grid-area: top-box-a;
  box-shadow: var(--shadow);
  background: var(--primary);
}
.top-box-b {
  grid-area: top-box-b;

  box-shadow: var(--shadow);
  background: var(--primary);
}
.top-box-c {
  grid-area: top-box-c;
  box-shadow: var(--shadow);
  background: var(--primary);
}
.empty-one {
  grid-area: empty-one;
}
.top-box-d {
  grid-area: top-box-d;

  box-shadow: var(--shadow);
  background: var(--primary);
}
.empty-two {
  grid-area: empty-two;
}
.empty-place {
  padding: 2rem;
}
.footer {
  display: grid;
  grid-auto-columns: repeat(auto, 1fr);
  grid-auto-rows: minmax(70px, auto);
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 0 30px;
}
.location {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  align-items: center;
  justify-items: center;
  z-index: 2;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
}
.location img {
  padding: 0;
}
.location p {
  padding: 0;
}
.mail {
  grid-column: 3/4;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  align-items: center;
  justify-items: center;
  z-index: 2;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
}
.mail img {
  padding-left: 10px;
}
.phone {
  grid-column: 4/5;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  align-items: center;
  justify-items: center;
  z-index: 2;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
}
.footer-img {
  background: var(--dark);
  grid-column: 1/6;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: minmax(50px, auto);
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 30px;
}
.footer-icons {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.footer-icons a {
  font-size: 22px;
}
.footer-icons a i:hover {
  font-size: 22px;
  opacity: 0.8;
}
.copy-right {
  background: black;
  grid-column: 1/6;
  display: grid;
  opacity: 0.85;
  color: var(--light);
  align-items: center;
  justify-items: center;
}
.copy-right strong {
  color: var(--orange);
}
/* About page */
.about {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 50px 0;
}
.mid {
  display: grid;
  grid-template-areas:
    "aboutcontent aboutcontent"
    "mission vision";
  grid-gap: 15px;
  word-spacing: -2px;
}
.mid h1 {
  text-align: center;
}
.mid p {
  text-indent: 40px;
}
.aboutcontent {
  grid-area: aboutcontent;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  font-size: large;
  line-height: xx-large;
  text-align: justify;
}
.mission {
  grid-area: mission;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  font-size: large;
  line-height: xx-large;
  text-align: justify;
}
.vision {
  grid-area: vision;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  font-size: large;
  line-height: xx-large;
  text-align: justify;
}
/* About page */
/* Contact page */

.contact {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 50px 0;
}

/* Contact page */
@media (max-width: 950px) {
  .icons {
    margin: 0;
  }
  .main-nav a {
    font-size: 0.9rem;
  }
  .main-nav a:hover {
    font-size: 0.95rem;
  }
  .fa:hover {
    font-size: 20px;
  }
  .mid {
    grid-template-areas:
      "aboutcontent"
      "mission"
      "vision";
  }
}
@media (max-width: 770px) {
  .main-nav ul {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
  .icons {
    display: none;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .location {
    display: none;
  }
  .boxes {
    grid-template-areas:
      "design design"
      "top-box-a top-box-b"
      "top-box-c top-box-d";
  }
  .empty-one,
  .empty-two {
    display: none;
  }
  .mail {
    grid-column: 2/3;
  }
  .phone {
    grid-column: 3/5;
  }
}
@media (max-width: 600px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    background: var(--primary);
    margin: 0 10px;
  }
  .main-nav a {
    background: var(--dark);
  }
  .main-nav a:hover {
    font-size: 0.9rem;
  }
  #mainlogo {
    background: white;
  }
  .empty-one {
    display: none;
  }
  .empty-two {
    display: none;
  }
  .boxes {
    grid-template-areas:
      "design"
      "top-box-a"
      "top-box-b"
      "top-box-c"
      "top-box-d";
    margin: 20px 20px;
  }
  .location,
  .mail {
    display: none;
  }
  .phone {
    grid-column: 2/5;
    padding: 1.5rem 2rem;
  }
}
@media (min-width: 601px) and (max-width: 655px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    background: var(--primary);
    margin: 0 10px;
  }
  .main-nav a {
    background: var(--dark);
  }
  .main-nav a:hover {
    font-size: 0.9rem;
  }
  #mainlogo {
    background: white;
  }
}
